@model PagedList.IPagedList<hotel_bookings.Models.news>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="card">
        <div class="#" style="margin-right: 14px; display: inline-flex; justify-content: flex-end;">
            
            <div>
                <a href="@Url.Action("AddNews", "News")" style="margin-top: 10px; font-size: 18px; float: right; margin-right: 7px;"><i style="font-size: 40px;" class="fa-regular fa-square-plus"></i></a>

            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr style="background-color: #221f50; ">
                        <th>STT</th>
                        <th>Ảnh tin tức</th>
                        <th>Ngày đăng</th>
                        <th>Tiêu đề</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.RowNumber</td>
                            <td><img src="~/Assets/img/news/@item.image" alt="" height="100" width="100"></td>
                            <td>@item.date_news</td>
                            <td>@item.title</td>                           
                            <td>
                                <a href="@Url.Action("DeleteNews", "News",new { id = item.id })"><i class="fa-regular fa-trash-can"></i></a>
                                <a href="@Url.Action("UpdateNews", "News",new { id = item.id })"><i class="fa-regular fa-pen-to-square"></i></a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
            <div class="container mt-5">
                <ul class="pagination">
                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
</div>

