@model hotel_bookings.Models.RoomStyleAndRoomModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .reviews {
        background: #000000;
        /* display: none; */
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.2);
        z-index: 99999;
        width: 100%;
        display: flex;
    }
    #benTrai {
        width: 26%;
        box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3); /* Tạo viền nổi */
        background-color: #f0f0f0; /* Màu nền của phần bên trái */
    }

    #reviews-close {
        position: absolute;
        width: 50px;
        height: 50px;
        background: #333;
        color: #fff;
        text-align: center;
        border-radius: 50%;
        font-size: 28px;
        line-height: 28px;
        top: 30px;
        cursor: pointer;
        display: flex;
    }

    .reviews-open {
        cursor: pointer;
    }
    .room-details-item {
        display: block;
        position: initial;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: 99999;
    }

    .checkNgay {
        width: 80px;
        height: 38px;
        border-radius: 6px;
    }

    form .check-date {
        position: relative;
        margin-bottom: 9px;
        padding: 0 15px;
    }

        form .check-date input {
            width: 100%;
            height: 40px;
            border: 1px solid #ebebeb;
            border-radius: 2px;
            font-size: 16px;
            color: #19191a;
            text-transform: uppercase;
            font-weight: 500;
            padding-left: 20px;
            color: #dfa974;
        }

    .select-option {
        position: relative;
        margin-bottom: 9px;
        padding: 0 15px;
    }

    form .check-date i {
        color: #dfa974;
        position: absolute;
        right: 18px;
        bottom: 17px;
    }

    .check-date label, .select-option label {
        font-size: 14px;
        color: #707079;
        display: block;
        margin-bottom: 10px;
    }

    .breadcrumb-text .bt-option a:after {
        position: absolute;
        right: -13px;
        top: 1px;
        content: " >";
        font-size: 18px;
        font-family: "FontAwesome";
        color: #aaaab3;
    }

    .successFormSearch {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99999;
        justify-content: center;
        color: #dfa974;
    }

    .custom-checkbox {
        transform: scale(2.0); /* Chỉnh kích thước theo nhu cầu */
        margin-top: 9px;
    }

        .custom-checkbox .form-check-input:checked {
            background-color: red; /* Màu nền của checkbox khi được chọn */
            border-color: red; /* Màu viền của checkbox khi được chọn */
        }

        /* Chọn màu cho biên ngoài của checkbox */
        .custom-checkbox .form-check-input:focus {
            box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25); /* Màu viền khi checkbox được focus */
        }

        /* Chọn màu cho dấu tick khi checkbox được chọn */
        .custom-checkbox .form-check-input:checked ~ .form-check-label::before {
            background-color: blue; /* Màu của dấu tick khi checkbox được chọn */
        }

    .custom-label {
        font-size: 20px !important;
        color: #ffffff !important;
        display: block !important;
        margin-left: 14px !important;
    }
    .is-invalid {
        border: 1px solid red !important;
        /* Các thuộc tính khác */
    }
     .successForm {
     display: none;
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     z-index: 99999;
     justify-content: center;
     color: #dfa974;
    }
    .spinner-border {
        width: 5rem;
        height: 5rem;
        border: .50em solid currentColor;
        border-right-color: transparent;
    }
</style>
<script>
    $(document).ready(function () {
        // Bắt sự kiện click cho tất cả các thẻ <a> có class bookingLink
        $('.bookingLink').click(function (event) {
            event.preventDefault(); // Ngăn chặn hành động mặc định của thẻ <a>

            var roomId = $(this).data('room-id'); // Lấy id từ thuộc tính data-room-id của thẻ <a>

            var checkInDate = $('#checkInDatePicker').val();
            var checkOutDate = $('#checkOutDatePicker').val();

            if (!checkInDate || !checkOutDate) {
                // Ngày đến hoặc ngày đi chưa được nhập
                $('#checkInDatePicker').addClass('is-invalid');
                $('#checkOutDatePicker').addClass('is-invalid');
            } else {
                // Ngày đến và ngày đi đã được nhập
                $('#checkInDatePicker').removeClass('is-invalid');
                $('#checkOutDatePicker').removeClass('is-invalid');

                // Tạo URL sử dụng Url.Action và chuyển hướng đến đó
                var url = '@Url.Action("RoomService", "Room")' + '?id=' + roomId;
                window.location.href = url;
            }
        });

        document.getElementById('checkInDatePicker').addEventListener('change', function () {
            var checkInDate = new Date(this.value);
            var checkOutDatePicker = document.getElementById('checkOutDatePicker');

            // Set the min attribute of the check-out date picker to the selected check-in date
            checkOutDatePicker.min = this.value;

            // If the selected check-out date is earlier than the check-in date, clear the check-out date
            if (checkOutDatePicker.value && new Date(checkOutDatePicker.value) < checkInDate) {
                checkOutDatePicker.value = '';
            }
        });
    $('#bookingForm').submit(function (event) {
        event.preventDefault(); // Ngăn chặn hành động mặc định của form

        // Lấy dữ liệu từ form
        var formData = {
            check_in: $('#checkInDatePicker').val(),
            check_out: $('#checkOutDatePicker').val(),
            adult: $('#adult').val(),
            children: $('#children').val()
        };

        // Gửi yêu cầu Ajax
        $.ajax({
            type: 'POST',
            url: '@Url.Action("search", "RoomStyle")', // Thay thế Tên_Controller bằng tên thực tế của controller
            data: formData,
            success: function (response) {
                $('.successForm').fadeIn(); // Sửa từ 'fadein()' thành 'fadeIn()'
                setTimeout(function () {
                    $('.successForm').fadeOut(); // Sửa từ 'fadeout()' thành 'fadeOut()'
                }, 900);
                // Xử lý kết quả nếu cần
                setTimeout(function () {
                    $('#searchRoom').html(response);
                }, 900);

            },
            error: function (xhr, status, error) {
                // Xử lý lỗi nếu có
                console.error('Lỗi khi gửi dữ liệu: ' + error);
            }
        });
    });




});
$(document).ready(function () {
    $('.room-item').click(function () {
        var roomId = $(this).data('room-id');
        $.ajax({
            url: '@Url.Action("RoomDetails", "Room")',
            type: 'GET',
            data: { id: roomId },
            success: function (result) {
                $('#room-detail-container').fadeOut(0).delay(200).html(result).fadeIn(200);
            }
        });
    });

});
$(document).ready(function () {
    $('.reviews-open').click(function () {
        var roomId = $(this).data('room-id');
        var url = '/Room/RoomReview?id=' + roomId;
        $.ajax({
            url: url,
            type: 'GET',
            data: { id: roomId },
            success: function (result) {
                $('#room-reviews').fadeOut(0).delay(200).html(result).fadeIn(200);
            }
        });
    });

});


</script>
<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Loại phòng</h2>
                    <div class="bt-option">
                        <a style="color: #aaaab3; " href="@Url.Action("Index", "Home")">Trang chủ</a>
                        <span style="color: #19191a;">Loại phòng</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Room Details Section Begin -->
<section class="room-details-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                @foreach (var item in Model.room_styles)
                {
                    <div class="room-details-item">
                        <img style="width: 100%; margin-bottom: 35px;" src="~/Assets/img/img_room/@item.avatar" alt="">
                        <div class="row">
                            @foreach (var item2 in Model.room_img)
                            {
                                <div class="col-lg-4">
                                    <img style="width: 100%; margin-bottom: 35px;" src="~/Assets/img/img_room/@item2.image" alt="">
                                </div>
                            }


                        </div>

                        <div class="rd-text">
                            <div class="rd-title">
                                <h3 style="margin-bottom: 18px;">@item.name</h3>

                            </div>

                            <p class="f-para">
                                @item.description
                            </p>
                        </div>
                    </div>
                }



            </div>
            <div class="col-lg-4">
                <div class="room-booking">
                    <h3>Tìm kiếm phòng</h3>
                    <form id="bookingForm" class="">
                        <div class="check-date">
                            <label style=" color: #7d8086;" for="date-in">Ngày đến:</label>
                            <input type="date" id="checkInDatePicker" class="">
                        </div>
                        <div class="check-date">
                            <label style=" color: #7d8086;" for="date-out">Ngày đi:</label>
                            <input type="date" id="checkOutDatePicker" class="">
                        </div>
                        <div class="select-option" ">
                            <label style="font-size: 20px; color: #7d8086;" for="date-out">Người lớn:</label>

                            <select id="adult">
                                <option value="1">1 người lớn</option>
                                <option value="2">2 người lớn</option>
                                <option value="3">3 người lớn</option>
                            </select>
                        </div>
                        <div class="select-option" ">
                            <label style="font-size: 20px; color: #7d8086;" for="date-out">Trẻ em:</label>

                            <select id="children">
                                <option value="1">1 trẻ em</option>
                                <option value="2">2 trẻ em</option>
                                <option value="3">3 trẻ em</option>
                            </select>
                        </div>
                        <button style="margin-left: 14px; width: 90%; " type="submit">Tìm kiếm</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row " id="searchRoom">
            @foreach (var item in Model.rooms)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="room-item">
                        <img src="~/Assets/img/img_room/@item.avatar" alt="" class="room-item" data-room-id="@item.id">
                        <div class="ri-text">
                            <h4 class="room-details">@item.name</h4>
                            <h3>@item.price đ<span>  /Đêm</span></h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Diện tích:</td>
                                        <td>@item.area m2</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Số người:</td>
                                        <td>@(item.adult + item.children)</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Phòng chống:</td>
                                        <td>@item.quantity</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div style="display: flex;">
                                <div style="flex: 1;" class="rating_room ">
                                    <a class="reviews-open" data-room-id="@item.id">Đánh giá</a>
                                </div>
                                <a style="cursor: pointer;" class="primary-btn bookingLink" data-room-id="@item.id">Đặt phòng</a>
                            </div>

                        </div>
                    </div>
                </div>
            }


        </div>
</section>
<div id="room-reviews">

</div>

<div id="room-detail-container"> </div>
<div class="successForm ">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="spinner-border custom-size" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
</div>