
@model PagedList.IPagedList<hotel_bookings.Models.room>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Danh sách phòng</h2>
                    <div class="bt-option">
                        <a href="./home.html">Trang chủ</a>
                        <span>Phòng</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="nav-right search-switch container" style="">
    <i class="icon_search "></i>
</div>
<!-- Breadcrumb Section End -->
<!-- Rooms Section Begin -->
<section class="rooms-section spad">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="room-item">
                        <img src="../Assets/img/room/@item.avatar" alt="" class="room-item" data-room-id="@item.id">
                        <div class="ri-text">
                            <h4 class="room-details">@item.name</h4>
                            <h3>@item.price đ<span>  /Đêm</span></h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Diện tích:</td>
                                        <td>@item.area m2</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Số người:</td>
                                        <td>@(item.adult + item.children)</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Phòng chống:</td>
                                        <td>@item.quantity</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="@Url.Action("RoomService", "Room" ,new { id = item.id })" class="primary-btn">Chi tiết phòng</a>
                        </div>
                    </div>
                </div>
            }
            <div class="col-lg-12">
                <div class="room-pagination">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, check_in = ViewBag.CheckIn, check_out = ViewBag.CheckOut }))

                </div>
            </div>


        </div>
    </div>
</section>
<script>
    // Lấy ngày hiện tại
    var today = new Date();
    // Lấy ngày, tháng và năm từ đối tượng Date
    var day = String(today.getDate()).padStart(2, '0');
    var month = String(today.getMonth() + 1).padStart(2, '0'); // Tháng bắt đầu từ 0 nên cần cộng thêm 1
    var year = today.getFullYear();

    // Tạo chuỗi đại diện cho ngày hiện tại theo định dạng dd-mm-yyyy
    var formattedDate = day + '-' + month + '-' + year;


    // Thiết lập thuộc tính min của thẻ input type="date" của ngày đến
    document.getElementById("checkInDatePicker").setAttribute("min", formattedDate);

    // Thiết lập thuộc tính min của thẻ input type="date" của ngày đi
    document.getElementById("checkOutDatePicker").setAttribute("min", formattedDate);
</script>
<!-- Rooms Section End -->
<div class="search-model" style="width: 17%; opacity: 0.5; ">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <div class="room-booking">
            <h3 style="color: aliceblue;">Tìm kiếm</h3>
            <form method="post">
                <div class="check-date">
                    <label for="date-in">Ngày đến:</label>
                    <input style="padding: 0 10px;" type="date" id="checkInDatePicker" name="check_in">
                </div>
                <div class="check-date">
                    <label for="date-out">Ngày đi:</label>
                    <input style="padding: 0 10px;" type="date" id="checkOutDatePicker" name="check_out">
                </div>
                @*<div class="select-option">
            <label for="guest">guests:</label>
            <select id="guest" style="display: none;">
                <option value="">3 adults</option>
                <option value="">4 adults</option>
                <option value="">5 adults</option>
            </select>
        </div>
        <div class="select-option">
            <label for="room">room:</label>
            <select id="room" style="display: none;">
                <option value="">1 room</option>
                <option value="">1 room</option>
                <option value="">1 room</option>
            </select><div class="nice-select" tabindex="0"><span class="current">1 room</span><ul class="list"><li data-value="" class="option selected">1 room</li></ul></div>
        </div>*@
                <button type="submit">tìm kiếm</button>
            </form>

            

        </div>
    </div>
</div>
<div id="room-detail-container"> </div>
<script>
    $(document).ready(function() {
    $('.room-item').click(function() {
        var roomId = $(this).data('room-id');
        $.ajax({
            url: '@Url.Action("RoomDetails", "Room")',
            type: 'GET',
            data: { id: roomId },
            success: function(result) {
                $('#room-detail-container').fadeOut(0).delay(200).html(result).fadeIn(200);
            }
        });
    });

});

</script>
