
@model PagedList.IPagedList<hotel_bookings.Models.room>
@using PagedList.Mvc
@{
    var roomStyleList = ViewBag.roomStyleList as List<hotel_bookings.Models.room_style>;
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .is-invalid {
        border: 1px solid red !important;
    }
    input[type="date"]::placeholder {
        color: red !important;
    }

    /* Thay đổi màu của biểu tượng lịch trình trên các trình duyệt WebKit (Chrome/Safari) */
    input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(1); /* Đảo ngược màu sắc */
    }
    .reviews {
        background: #000000;
        /* display: none; */
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.2);
        z-index: 99999;
        width: 100%;
        display: flex;
    }
    button.btn.btn-primary {
        margin-top: 29px;
        margin-left: 11px;
        color: #fff;
        background-color: #dfa974;
        border-color: #dfa974;
        /* width: 6pc; */
        height: 42px;
    }
    #benTrai {
        width: 26%;
        box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3); /* Tạo viền nổi */
        background-color: #f0f0f0; /* Màu nền của phần bên trái */
    }

    #reviews-close {
        position: absolute;
        width: 50px;
        height: 50px;
        background: #333;
        color: #fff;
        text-align: center;
        border-radius: 50%;
        font-size: 28px;
        line-height: 28px;
        top: 30px;
        cursor: pointer;
        display: flex;
    }

    .reviews-open {
        cursor: pointer;
    }

    .checkNgay {
        width: 80px;
        height: 38px;
        border-radius: 6px;
    }

    form .check-date {
        position: relative;
        margin-bottom: 9px;
        padding: 0 15px;
    }

        form .check-date input {
            width: 100%;
            height: 40px;
            border: 1px solid #ebebeb;
            border-radius: 2px;
            font-size: 16px;
            color: #19191a;
            text-transform: uppercase;
            font-weight: 500;
            padding-left: 20px;
            color: #dfa974;
        }
    .select-option {
        position: relative;
        margin-bottom: 9px;
        padding: 0 15px;
    }
        form .check-date i {
            color: #dfa974;
            position: absolute;
            right: 18px;
            bottom: 17px;
        }

    .check-date label, .select-option label {
        font-size: 14px;
        color: #707079;
        display: block;
        margin-bottom: 10px;
    }
    .breadcrumb-text .bt-option a:after {
        position: absolute;
        right: -13px;
        top: 1px;
        content: " >";
        font-size: 18px;
        font-family: "FontAwesome";
        color: #aaaab3;
    }
    .successFormSearch {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99999;
        justify-content: center;
        color: #dfa974;
    }
    .custom-checkbox {
        transform: scale(2.0); /* Chỉnh kích thước theo nhu cầu */
        margin-top: 9px;
    }
        .custom-checkbox .form-check-input:checked {
            background-color: red; /* Màu nền của checkbox khi được chọn */
            border-color: red; /* Màu viền của checkbox khi được chọn */
        }

        /* Chọn màu cho biên ngoài của checkbox */
        .custom-checkbox .form-check-input:focus {
            box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25); /* Màu viền khi checkbox được focus */
        }

        /* Chọn màu cho dấu tick khi checkbox được chọn */
        .custom-checkbox .form-check-input:checked ~ .form-check-label::before {
            background-color: blue; /* Màu của dấu tick khi checkbox được chọn */
        }
    .custom-label {
        font-size: 20px !important;
        color: #ffffff !important;
        display: block !important;
        margin-left: 14px !important;
    }
</style>
<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Danh sách phòng </h2>
                    <div class="bt-option">
                        <a style="color: #aaaab3; " href="@Url.Action("Index", "Home")">Trang chủ</a>
                        <span style="color: #19191a;">Phòng</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Breadcrumb Section End -->
<!-- Rooms Section Begin -->

<section class="rooms-section spad">
    <div class="container">
        <div class="row ">
            <script>
                $(document).ready(function () {

                    document.getElementById('checkInDatePicker').addEventListener('change', function () {
                        var checkInDate = new Date(this.value);
                        var checkOutDatePicker = document.getElementById('checkOutDatePicker');

                        // Set the min attribute of the check-out date picker to the selected check-in date
                        checkOutDatePicker.min = this.value;

                        // If the selected check-out date is earlier than the check-in date, clear the check-out date
                        if (checkOutDatePicker.value && new Date(checkOutDatePicker.value) < checkInDate) {
                            checkOutDatePicker.value = '';
                        }
                    });
                $('#bookingForm').submit(function (event) {
                    event.preventDefault(); // Ngăn chặn hành động mặc định của form

                    // Lấy dữ liệu từ form
                    var formData = {
                        check_in: $('#checkInDatePicker').val(),
                        check_out: $('#checkOutDatePicker').val(),
                        adult: $('#adult').val(),
                        children: $('#children').val()
                    };

                    // Gửi yêu cầu Ajax
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("search", "Room")', // Thay thế Tên_Controller bằng tên thực tế của controller
                        data: formData,
                        success: function (response) {
                            $('.successFormSearch').fadeIn(); // Sửa từ 'fadein()' thành 'fadeIn()'
                            setTimeout(function () {
                                $('.successFormSearch').fadeOut(); // Sửa từ 'fadeout()' thành 'fadeOut()'
                            }, 700);
                            // Xử lý kết quả nếu cần
                            setTimeout(function () {
                                $('#searchRoom').html(response);
                            }, 700);
                            
                        },
                        error: function (xhr, status, error) {
                            // Xử lý lỗi nếu có
                            console.error('Lỗi khi gửi dữ liệu: ' + error);
                        }
                    });
                });
                    $('#filter').submit(function (event) {
                    event.preventDefault(); // Ngăn chặn hành động mặc định của form

                    // Lấy dữ liệu từ form
                    var formData = {
                        filterRoom: $('#filterRoom').val(),

                    };

                    // Gửi yêu cầu Ajax
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("filter", "Room")', // Thay thế Tên_Controller bằng tên thực tế của controller
                        data: formData,
                        success: function (response) {
                            // Xử lý kết quả nếu cần
                            $('.successFormSearch').fadeIn(); // Sửa từ 'fadein()' thành 'fadeIn()'
                            setTimeout(function () {
                                $('.successFormSearch').fadeOut(); // Sửa từ 'fadeout()' thành 'fadeOut()'
                            }, 700);
                           
                            setTimeout(function () {
                                $('#searchRoom').html(response);
                            }, 700);
                        },
                        error: function (xhr, status, error) {
                            // Xử lý lỗi nếu có
                            console.error('Lỗi khi gửi dữ liệu: ' + error);
                        }
                    });
                });
                // Bắt sự kiện click cho tất cả các thẻ <a> có class bookingLink
                $('.bookingLink').click(function (event) {
                    event.preventDefault(); // Ngăn chặn hành động mặc định của thẻ <a>

                    var roomId = $(this).data('room-id'); // Lấy id từ thuộc tính data-room-id của thẻ <a>

                    var checkInDate = $('#checkInDatePicker').val();
                    var checkOutDate = $('#checkOutDatePicker').val();

                    if (!checkInDate || !checkOutDate) {
                        // Ngày đến hoặc ngày đi chưa được nhập
                        $('#checkInDatePicker').addClass('is-invalid');
                        $('#checkOutDatePicker').addClass('is-invalid');
                    } else {
                        // Ngày đến và ngày đi đã được nhập
                        $('#checkInDatePicker').removeClass('is-invalid');
                        $('#checkOutDatePicker').removeClass('is-invalid');

                        // Tạo URL sử dụng Url.Action và chuyển hướng đến đó
                        var url = '@Url.Action("RoomService", "Room")' + '?id=' + roomId;
                        window.location.href = url;
                    }
                });

            });
            $(document).ready(function () {
                $('.room-item').click(function () {
                    var roomId = $(this).data('room-id');
                    $.ajax({
                        url: '@Url.Action("RoomDetails", "Room")',
                        type: 'GET',
                        data: { id: roomId },
                        success: function (result) {
                            $('#room-detail-container').fadeOut(0).delay(200).html(result).fadeIn(200);
                        }
                    });
                });

            });
            $(document).ready(function () {
                $('.reviews-open').click(function () {
                    var roomId = $(this).data('room-id');
                    var url = '/Room/RoomReview?id=' + roomId;
                    $.ajax({
                        url: url,
                        type: 'GET',
                        data: { id: roomId },
                        success: function (result) {
                            $('#room-reviews').fadeOut(0).delay(200).html(result).fadeIn(200);
                        }
                    });
                });

            });
             

            </script>

            <div class="col-lg-12 col-md-6">
                <form id="bookingForm" method="" class="form-inline">
                    <div class="check-date">
                        <label for="date-in">Ngày đến:</label>
                        <input type="date" id="checkInDatePicker" class="">
                    </div>
                    <div class="check-date">
                        <label for="date-out">Ngày đi:</label>
                        <input type="date" id="checkOutDatePicker" class="">
                    </div>
                    <div class="select-option" style="margin-bottom: 8px;">
                        <label id="" for="guest">Người lớn:</label>
                        <select id="adult">
                            <option value="1">1 người lớn</option>
                            <option value="2">2 người lớn</option>
                            <option value="3">3 người lớn</option>
                        </select>
                    </div>
                    <div class="select-option" style="margin-bottom: 8px;">
                        <label for="guest">Trẻ em:</label>
                        <select id="children">
                            <option value="1">1 trẻ em</option>
                            <option value="2">2 trẻ em</option>
                            <option value="3">3 trẻ em</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary" style="margin-top: 14px; color: #fff; background-color: #dfa974; border-color: #dfa974;">Tìm kiếm</button>
                </form>
            </div>

        </div>
        <div class="row">

            <div class="col-lg-12 col-md-6 nav-right search-switch container" style="">
                <i style="font-size: 29px; float: right;" class="icon_search "></i>
            </div>
        </div>

        <div class="row " id="searchRoom">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="room-item">
                        <img src="../Assets/img/room_img/@item.avatar" alt="" class="room-item" data-room-id="@item.id">
                        <div class="ri-text">
                            <h4 class="room-details">@item.name</h4>
                            <h3>@item.price đ<span>  /Đêm</span></h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Diện tích:</td>
                                        <td>@item.area m2</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Số người:</td>
                                        <td>@(item.adult + item.children)</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Phòng chống:</td>
                                        <td>@item.quantity</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div style="display: flex;">
                                <div style="flex: 1;" class="rating_room ">
                                   <a class="reviews-open" data-room-id="@item.id">Đánh giá</a>
                                </div>
                                <a style="cursor: pointer;" class="primary-btn bookingLink" data-room-id="@item.id">Đặt phòng</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            }



            <div class="col-lg-12">
                <div class="room-pagination">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, check_in = ViewBag.CheckIn, check_out = ViewBag.CheckOut }))

                </div>
            </div>


        </div>
    </div>
</section>

<!-- Rooms Section End -->
<div class="search-model" style="width: 17%; opacity: 0.5; display: none;">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <div class="room-booking">
            <h3 style="color: aliceblue; text-align: center;">Tìm kiếm</h3>
            <form id="filter" method="post">
                @*<div class="check-date">
            <label for="date-in">Chọn loại phòng:</label>
            <select class="form-control" id="filterRoom">
                @foreach (var item in roomStyleList)
                {
                    <option value="@item.id">@item.name</option>

                }

            </select>
        </div>*@

                <div class="select-option">
                    <label for="guest" style=" font-size: 21px; color: #dfa974; display: block; margin-bottom: 10px;">Kiểu phòng:</label>
                    <select id="filterRoom" style="display: none;">
                        @foreach (var item in roomStyleList)
                        {
                            <option value="@item.id">@item.name</option>

                        }
                    </select>
                </div>
                <div class="select-option">
                    <label for="guest" style=" font-size: 21px; color: #dfa974; display: block; margin-bottom: 10px;">Công năng phòng:</label>
                    <div class="form-check">
                        <input class="form-check-input custom-checkbox" type="checkbox" value="" id="defaultCheck1">
                        <label class=" custom-label" for="defaultCheck1">
                            Option 1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input custom-checkbox" type="checkbox" value="" id="defaultCheck1">
                        <label class=" custom-label" for="defaultCheck1">
                            Option 1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input custom-checkbox" type="checkbox" value="" id="defaultCheck1">
                        <label class=" custom-label" for="defaultCheck1">
                            Option 1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input custom-checkbox" type="checkbox" value="" id="defaultCheck1">
                        <label class="custom-label" for="defaultCheck1">
                            Option 1
                        </label>
                    </div>
                </div>
               
                
                <button type="submit">tìm kiếm</button>
            </form>



        </div>
    </div>
</div>
<div id="room-reviews">
    
</div>

<div id="room-detail-container"> </div>
