@*@model IEnumerable<hotel_bookings.Models.ReviewViewModel>*@
@model PagedList.IPagedList<hotel_bookings.Models.ReviewViewModel>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container">
    <div class="card">
        <div class="#" style="margin-right: 14px; display: inline-flex; justify-content: flex-end;">
            <div style="display: flex;" id="custom-search" class="top-search-bar">
                <button class="btn btn-outline-dark" type="submit"><i style="font-size: 20px; padding: 6px;" class="fa-solid fa-magnifying-glass"></i></button>

                <input class="form-control" type="text" placeholder="Search..">
            </div>

        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr style="background-color: #221f50; ">
                        <th>STT</th>
                        <th>Mã đánh giá</th>
                        <th>Email</th>
                        <th>Tên</th>
                        <th>Tên phòng</th>
                        <th>Nội dung</th>
                        <th>Ngày đánh giá</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.RowNumber</td>
                            <td>@item.rating_view_id</td>
                            <td>@item.email</td>
                            <td>@item.user_name</td>
                            <td>@item.room_name</td>
                            <td>@item.review</td>
                            <td>@item.review_day</td>
                            <td>
                                <a href="@Url.Action("DeleteNews", "News",new { id = item.rating_view_id })"><i class="fa-regular fa-trash-can"></i></a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
            
            <div class="container mt-5">
                <ul class="pagination">
                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
</div>

