<!-- Page Preloder -->
@{

    string email = ViewBag.Email;


}
<script>
    // Lấy danh sách các thẻ <li>
    var menuItems = document.querySelectorAll('.mainmenu ul li');

    // Duyệt qua từng thẻ <li> và thêm sự kiện click cho chúng
    menuItems.forEach(function (item) {
        item.addEventListener('click', function () {
            // Xóa class 'active' khỏi tất cả các thẻ <li>
            menuItems.forEach(function (element) {
                element.classList.remove('active');
            });

            // Thêm class 'active' cho thẻ <li> được click
            this.classList.add('active');
        });
    });
</script>
<style>

    .loader {
        color: #dfa974 !important;
        width: 5rem;
        height: 5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -13px;
        margin-left: -13px;
        border: .50em solid currentColor !important;
        border-right-color: transparent !important;
        border-radius: 100px;
        animation: loader 1s linear infinite;
        -webkit-animation: loader 1s linear infinite;
    }
</style>
<div id="preloder">
    <div class="loader"></div>
</div>
<header class="header-section">
    <div class="top-nav">
        <div class="container">
            <div class="row">

                <div class="col-lg-12">
                    <div class="tn-right">
                        <div class="top-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                        @if (Session["user"] == null)
                        {
                            <a href="@Url.Action("Login", "Access")" class="bk-btn">Đăng nhập</a>
                        }

                        @if (Session["user"] != null)
                        {
                            <div class="language-option">
                                <img src="~/Assets/img/avatar-clone.jpg" />
                                <span>@Session["name"] <i class="fa fa-angle-down"></i></span>
                                <div class="flag-dropdown">
                                    <ul>
                                        <li><a href="@Url.Action("Index", "Profile")">Hồ sơ</a></li>
                                        <li style=" margin-top: 10px;"><a href="@Url.Action("Logout", "Access")">Đăng xuất</a></li>
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-item">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo">
                        <a href="@Url.Action("Index", "Home")">
                            <h3>HL</h3>
                        </a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="nav-menu">
                        <nav class="mainmenu">
                            <ul>
                                <li class=""><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                                @*active*@
                                <li class=""><a href="@Url.Action("Index", "Room")">Phòng</a></li>

                                <li class=""><a href="@Url.Action("Index", "News")">Tin tức</a></li>
                                <li class=""><a href="@Url.Action("Index", "Contact")">Liên Hệ</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>




