@model List<hotel_bookings.Models.contact_details>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .successForm {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99999;
        justify-content: center;
        color: #dfa974;
    }

    .spinner-border {
        width: 5rem;
        height: 5rem;
        border: .50em solid currentColor;
        border-right-color: transparent;
    }
    /*    .successForm2 {
        display: flex;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99999;
        justify-content: center;
        color: #dfa974;
    }*/
    button#submitButton {
        float: right;
    }

    .custom-size {
        width: 5rem; /* Điều chỉnh chiều rộng */
        height: 5rem; /* Điều chỉnh chiều cao */
    }

    /* CSS code with keyframes */

</style>
<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-text">
                    <h2>Thông tin liên hệ</h2>

                    <table>
                        @foreach (var item in Model)
                        {
                            <tbody>
                                <tr>
                                    <td class="c-o">Địa chỉ:</td>
                                    <td>@item.address</td>
                                </tr>
                                <tr>
                                    <td class="c-o">Số điện thoại:</td>
                                    <td>@item.phonenum1</td>
                                </tr>
                                <tr>
                                    <td class="c-o">Email:</td>
                                    <td>@item.email</td>
                                </tr>
                                <tr>
                                    <td class="c-o">Facebook:</td>
                                    <td><a style="color: #dfa974;" href="@item.facebook">@item.facebook</a></td>
                                </tr>
                            </tbody>
                        }

                    </table>
                </div>
            </div>
            <div class="col-lg-7 offset-lg-1">
                <form id="contactForm" action="#" method="post" class="contact-form">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" id="name" name="name" placeholder="Nhập tên">
                        </div>
                        <div class="col-lg-6">
                            <input type="text" id="email" name="email" placeholder="Nhập email">
                        </div>
                        <div class="col-lg-12">
                            <textarea id="message" name="message" placeholder="Nhập nội dung"></textarea>
                            <button type="button" id="submitButton">Gửi <i class="fa fa-send"></i></button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.0606825994123!2d-72.8735845851828!3d40.760690042573295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e85b24c9274c91%3A0xf310d41b791bcb71!2sWilliam%20Floyd%20Pkwy%2C%20Mastic%20Beach%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1578582744646!5m2!1sen!2sbd"
                    height="470" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('#submitButton').click(function (e) {
            e.preventDefault(); // Ngăn chặn form submit theo cách thông thường
            $('.successForm').fadeIn(); // Sửa từ 'fadein()' thành 'fadeIn()'
            setTimeout(function () {
                $('.successForm').fadeOut(); // Sửa từ 'fadeout()' thành 'fadeOut()'
            }, 500);
            //setTimeout(function () {
            //    $('.successForm2').fadeIn();
            //}, 500);
            //setTimeout(function () {
            //    $('.successForm2').fadeOut(); // Sửa từ 'fadeout()' thành 'fadeOut()'
            //}, 500);

            // Lấy dữ liệu từ form
            var formData = {
                'name': $('#name').val(),
                'email': $('#email').val(),
                'message': $('#message').val()
            };

            // Gửi dữ liệu qua AJAX

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Index", "Contact")', // Thay thế 'url-xu-ly-dang-ky.php' bằng đường dẫn của trang xử lý form
                data: formData,
                success: function (result) {
                    setTimeout(function () {
                        $('#name').val(''); // Xóa giá trị của trường input 'name'
                        $('#email').val(''); // Xóa giá trị của trường input 'email'
                        $('#message').val(''); // Xóa giá trị của trường input 'message'
                    }, 500);
                },
            })
        });
    });
</script>
<div class="successForm " >
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="spinner-border custom-size" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
</div>
@*<div class="successForm2 ">
    <div class="h-100 d-flex align-items-center justify-content-center">
       <div>
           <i class="fa-solid fa-circle-check"></i>
           <p>Gửi thành công</p>
       </div>
    </div>
</div>*@


