@model hotel_bookings.Models.BookingViewModel

@{
    ViewBag.Title = "booking";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="card">
        <div class="#" style="display: inline-flex;justify-content: flex-end;">
            <div id="custom-search" class="top-search-bar">
                <input class="form-control" type="text" placeholder="Search..">
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr style="background-color: #221f50; ">
                        <th>Thông tin khách hàng</th>
                        <th>Thông tin phòng</th>
                        <th>Thông tin dịch vụ</th>
                        <th>Thông tin đặt phòng</th>
                        <th>Chức năng</th>
                       
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.booking_orders.Count; i++)
                    {
                        if (Model.booking_orders[i].booking_status == 0)
                        {
                            <tr>
                                <td>
                                    <div class="fst">
                                        <div><span class="badge badge-primary">Mã đặt phòng: @Model.booking_orders[i].id</span></div>
                                        <div><span>Tên: </span>@Model.users[i].first_name</div>
                                        <div><span>Số điện thoại: </span>@Model.users[i].phonenum</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="fst">
                                        <div><span>Tên phòng: </span>@Model.rooms[i].name</div>
                                        <div><span>Giá phòng: </span>@Model.rooms[i].price</div>
                                        <div><span>Số lượng đặt: </span>@Model.booking_details[i].room_number</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="fst">
                                    @if (Model.order_services.Count > i && Model.booking_orders.Count > i && Model.order_services[i].booking_order_id == Model.booking_orders[i].id)
                                    {
                                        <span>Dịch vụ:</span>
                                        foreach (var serviceId in Model.order_services.Where(os => os.booking_order_id == Model.booking_orders[i].id).Select(os => os.service_id))
                                        {
                                            var serviceName = Model.services.FirstOrDefault(s => s.id == serviceId)?.name;
                                            <span>@serviceName</span>
                                        }
                                    }
                                    </div>
                                </td>
                                <td>
                                    <div class="fst">
                                        <div><span>Ngày đến: </span>@Model.booking_details[i].check_in</div>
                                        <div><span>Ngày đi: </span>@Model.booking_details[i].check_out</div>
                                        <div><span>Ngày đặt: </span> @Model.booking_orders[i].book_day</div>
                                    </div>
                                </td>
                                <td>
                                    <div style="padding: 4px 0;"><a href="@Url.Action("StatusBooking", "OrderRoom",new { bookingOrderId =@Model.booking_orders[i].id })" class="btn btn-success" style="padding: 0 6px;"><i class="fa-regular fa-pen-to-square"></i>Chỉ định phòng</a></div>
                                    <div style="padding: 4px 0;"><a href="@Url.Action("DeleteBooking", "OrderRoom",new { bookingOrderId =@Model.booking_orders[i].id })" class="btn btn-outline-danger" style="padding: 0 8px;"><i class="fa-regular fa-trash-can"></i>Hủy đặt phòng</a></div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
