@model hotel_bookings.Models.BookingViewModel
@{
    ViewBag.Title = "booked";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="card">
        <div class="#" style="display: inline-flex;justify-content: flex-end;">
            <div style="display: inline-flex; " id="custom-search" class="top-search-bar">
                <button class="btn btn-outline-dark" type="submit"><i style="font-size: 20px; padding: 6px;" class="fa-solid fa-magnifying-glass"></i></button>

                <input class="form-control" type="text" placeholder="Search..">
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr style="background-color: #221f50; ">
                        <th>Thông tin khách hàng</th>
                        <th>Thông tin phòng</th>
                        <th>Thông tin dịch vụ</th>
                        <th>Thông tin đặt phòng</th>
                        <th>Trạng thái</th>
                        <th>Chức năng</th>

                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.booking_orders.Count; i++)
                    {
                        if (Model.booking_orders[i].booking_status == 1)
                        {
                            <tr>
                                <td>
                                    <div class="fst">
                                        <div><span class="badge badge-primary">Mã đặt phòng: @Model.booking_orders[i].id</span></div>
                                        <div><span>Tên: </span>@Model.users[i].first_name</div>
                                        <div><span>Số điện thoại: </span>@Model.users[i].phonenum</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="fst">
                                        <div><span>Tên phòng: </span>@Model.rooms[i].name</div>
                                        <div><span>Giá phòng: </span>@Model.rooms[i].price</div>
                                        <div><span>Số lượng đặt: </span>@Model.booking_details[i].room_number</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="fst">
                                        @if (Model.order_services.Count > i && Model.booking_orders.Count > i && Model.order_services[i].booking_order_id == Model.booking_orders[i].id)
                                        {
                                            <span>Dịch vụ:</span>
                                            foreach (var serviceId in Model.order_services.Where(os => os.booking_order_id == Model.booking_orders[i].id).Select(os => os.service_id))
                                            {
                                                var serviceName = Model.services.FirstOrDefault(s => s.id == serviceId)?.name;
                                                <span>@serviceName</span>
                                            }
                                        }
                                    </div>
                                </td>
                                <td>
                                    <div class="fst">
                                        <div><span>Ngày đến: </span>@Model.booking_details[i].check_in</div>
                                        <div><span>Ngày đi: </span>@Model.booking_details[i].check_out</div>
                                        <div><span>Ngày đặt: </span> @Model.booking_orders[i].book_day</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="fst">
                                        <div><a href="#" class="btn btn-rounded btn-danger" style=" font-size: 14px;">Bận</a></div>
                                    </div>
                                </td>
                                <td>
                                    <i style="font-size: 20px; " class="fa-solid fa-file-export"></i>
                                    <i style="font-size: 20px; margin-left: 4px;" class="fa-solid fa-check-to-slot"></i>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


