@model List<hotel_bookings.Models.booking_details>

@{
    ViewBag.Title = "booking";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="card">
        <div class="#" style="display: inline-flex;justify-content: flex-end;">
            <div id="custom-search" class="top-search-bar">
                <input class="form-control" type="text" placeholder="Search..">
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr style="background-color: #221f50; ">
                        <th>Ảnh phòng</th>
                        <th>Mã phòng</th>
                        <th>Tên phòng</th>
                        <th>Số người</th>
                        <th>Giá phòng</th>
                        <th>Số lượng</th>
                        <th>Trạng thái</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.id</td>
                            <td>@item.name</td>
                            <td>
                                <div>Người lớn: @item.adult</div>
                                <div>Trẻ em: @item.children</div>
                            </td>
                            <td>@item.price</td>
                            <td>@item.quantity</td>
                            <td>
                                <a href="@Url.Action("DeleteRoom", "Room",new { id = item.id })"><i class="fa-regular fa-trash-can"></i></a>
                                <a href="@Url.Action("UpdateRoom", "Room",new { id = item.id })"><i class="fa-regular fa-pen-to-square"></i></a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
