@model IEnumerable< hotel_bookings.Models.BookingViewModel >
@{
    ViewBag.Title = "booked";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="card">
        <div class="container">
            <div class="row">
                <div id="custom-search" class="col-sm-6">
                    <form class="row" method="post" style="margin-left: 0px; padding: 0 6px;">


                        <div style="display: inline-flex; " id="custom-search" class="top-search-bar">
                            <input class="form-control" type="text" name="phonenum" placeholder="Nhập số điện thoại">
                            <button class="btn btn-outline-dark" type="submit"><i style="font-size: 20px; padding: 6px;" class="fa-solid fa-magnifying-glass"></i></button>


                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr style="background-color: #221f50; ">
                        <th>Thông tin khách hàng</th>
                        <th>Thông tin phòng</th>
                        <th>Thông tin dịch vụ</th>
                        <th>Thông tin đặt phòng</th>
                        <th>Trạng thái</th>
                        <th>Chức năng</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="fst">
                                    <div><span class="badge badge-primary">Mã đặt phòng: @item.booking_order_id</span></div>
                                    <div><span>Tên: </span>@item.user_name</div>
                                    <div><span>Số điện thoại: </span>@item.phone</div>
                                </div>
                            </td>
                            <td>
                                <div class="fst">
                                    <div><span>Tên phòng: </span>@item.room_name</div>
                                    <div><span>Giá phòng: </span>@item.room_price</div>
                                </div>
                            </td>
                            <td>
                                <div class="fst" >
                                    <div><span>Dịch vụ: </span>@item.service_name</div>
                                    <div><span>Giá: </span>@item.service_price</div>
                                    <div><span>Số lượng: </span></div>
                                </div>
                            </td>
                            <td>
                                <div class="fst">
                                    <div><span>Ngày đến: </span>@item.check_in</div>
                                    <div><span>Ngày đi: </span>@item.check_out</div>
                                    <div><span>Ngày đặt: </span> @item.book_date</div>
                                </div>
                            </td>
                            <td>
                                <div class="fst">
                                    <div><a href="#" class="btn btn-rounded btn-danger" style=" font-size: 14px;">Bận</a></div>
                                </div>
                            </td>
                            <td>
                                <a href="@Url.Action("GenerateInvoicePdf", "OrderRoom",new { bookingOrderId =@item.booking_order_id })"><i style="font-size: 20px; " class="fa-solid fa-file-export"></i></a>
                                
                                <a href="@Url.Action("DeleteBooked", "OrderRoom",new { bookingOrderId =@item.booking_order_id })"><i style="font-size: 20px; margin-left: 4px;" class="fa-solid fa-check-to-slot"></i></a>
                            </td>
                        </tr>
                    }
                    
                </tbody>
            </table>
        </div>
    </div>
</div>


