﻿
@model PagedList.IPagedList<hotel_bookings.Models.SearchViewModel>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="card">
        <div class="container">
            <div class="row">
                <div id="custom-search" class="col-sm-8">
                    <form class="row" method="post" style="padding: 0 6px;">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select class="form-control" id="roomStyle" name="room_style_id">
                                    <option selected disabled>Chọn kiểu phòng</option>
                                    @foreach (var item in Model)
                                    {
                                        <option value="@item.room_style_id">@item.room_style</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select class="form-control" id="status" name="status">
                                    <option selected disabled>Chọn trạng thái</option>
                                    <option value="0">Trống</option>
                                    <option value="1">Bận</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="btn-group">
                                <button class="btn btn-outline-dark" type="submit"><i style="font-size: 20px; padding: 6px;" class="fa-solid fa-magnifying-glass"></i></button>
                                <a href="@Url.Action("Index", "Room")" style=" font-size: 20px;" class="btn btn-outline-dark">Reset</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-4">
                    <a href="@Url.Action("AddRoom", "Room")" style="margin-top: 10px; font-size: 18px; float: right; margin-right: 7px;"><i style="font-size: 40px;" class="fa-regular fa-square-plus"></i></a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <table class="table">
                <thead>
                    <tr style="background-color: #221f50; ">
                        <th>STT</th>
                        <th>Ảnh phòng</th>
                        <th>Mã phòng</th>
                        <th>Tên phòng</th>
                        <th>Loại phòng</th>
                        <th>Số người</th>
                        <th>Giá phòng</th>
                        <th>Số lượng</th>
                        <th>Trạng thái</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.RowNumber</td>
                            <td><img src="~/Assets/img/room/@item.image" alt="" height="100" width="100"></td>
                            <td>@item.room_id</td>
                            <td>@item.room_name</td>
                            <td>@item.room_style</td>
                            <td>
                                <div class="fst">
                                    <div>Người lớn: @item.adult</div>
                                    <div>Trẻ em: @item.children</div>
                                </div>
                            </td>
                            <td>@item.price</td>
                            <td>@item.room_count</td>
                            @if (item.status == 0)
                            {
                                <td><a href="#" class="btn btn-rounded btn-success" style=" font-size: 14px;">Trống</a></td>
                            }
                            @if (item.status == 1)
                            {
                                <td><a href="#" class="btn btn-rounded btn-danger" style=" font-size: 14px;">Bận</a></td>
                            }
                            <td>
                                <a href="@Url.Action("DeleteRoom", "Room",new { id = item.room_id })"><i class="fa-regular fa-trash-can"></i></a>
                                <a href="@Url.Action("UpdateRoom", "Room",new { id = item.room_id })"><i class="fa-regular fa-pen-to-square"></i></a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
            <div class="container mt-5">
                <ul class="pagination">
                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
</div>