@model hotel_bookings.Models.room
@{
    ViewBag.Title = "UpdateRoom";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="card">
        @*<div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <h3>Thêm Sản Phẩm</h3>
                </div>
               
            </div>
        </div>*@
        <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <strong>Mã kiểu phòng</strong>
                            <input type="text" name="room_style_id" class="form-control" value="@Model.room_style_id">
                        </div>
                        <div class="form-group">
                            <strong>Tên phòng</strong>
                            <input type="text" name="name" class="form-control" placeholder="Nhập tên phòng" value="@Model.name">
                        </div>
                        <div class="form-group">
                            <strong>Số người lớn</strong>
                            <input type="text" name="adult" class="form-control" placeholder="Nhập số người" value="@Model.adult">
                        </div>
                        <div class="form-group">
                            <strong>Số trẻ em</strong>
                            <input type="text" name="children" class="form-control" placeholder="Nhập số người" value="@Model.children">
                        </div>
                        <div class="form-group">
                            <strong>Giá phòng</strong>
                            <input type="text" name="price" class="form-control" placeholder="Nhập Giá phòng" value="@Model.price">
                        </div>
                        <div class="form-group">
                            <strong>Diện tích phòng</strong>
                            <input type="text" name="area" class="form-control" placeholder="Nhập diện tích phòng" value="@Model.area">
                        </div>
                        <div class="form-group">
                            <strong>Số lượng phòng</strong>
                            <input type="text" name="quantity" class="form-control" placeholder="Nhập số lượng" value="@Model.quantity">
                        </div>
                        <div class="form-group">
                            <strong>Mô tả phòng</strong>
                            <input type="text" name="description" class="form-control" placeholder="Nhập số lượng" value="@Model.description">
                        </div>
                        <div class="form-group">
                            <strong>Ảnh phòng</strong>
                            <input type="file" name="ImageUpload" class="form-control" value="@Model.avatar">
                        </div>
                    </div>
                </div>

                <a href="@Url.Action("Index", "Room")" class="btn btn-light float-right" style="margin: 8px 0px;">Hủy</a>
                <button type="submit" class="btn btn-success mt-2 float-right" style=" margin: 2px 10px; ">Lưu</button>
            </form>
        </div>
    </div>
</div>


